.dashboard{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dashboard h1{
  font-size: 3em;
  margin: 50px 0 10px;
}


.dashboard p{
  margin: 2em 0;
}


.dashboard .container_cursos{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.dashboard .container_cursos div{
  padding: 10px 50px;
}


@media (max-width: 1000px){
  .post_row div{
    display: flex;
    flex-direction: column;
  }

  .post_header, .post_row{
    width: 70%;
  }

  .post_row p{
    font-size: 0.8em;
    text-align: left;
    padding-right: 10px;
  }
  
}


@media (max-width: 600px){
  .post_header, .post_row{
    width: 80%; 
  }  
}
