.container_about{
  display: flex;
  justify-content: center;
  width: 100%;
}

.about{
  text-align: center;
  margin-top: 50px;
  width: 80%;
}

.about h3, .about h1, .about p{
  margin-bottom: 30px;
}

.about a{
  padding: 15px 30px;
}