
.active{
  background-color: #000;
  color: #fff;
}

@media (max-width:900px){
  .header ul{
      position: absolute;
      top: 40px;
      right: 100%;
      width: 100%;
      height: calc(100vh - 50px);
      padding: 40px 100px;
      text-align: center;
      overflow-y: hidden;
      justify-content: space-between;
      overflow: hidden;
      background-color: #003b8e;
      flex-direction: column;
      opacity: 0;
      transition: 800ms ease-in-out;
  }
  .logo{
      color: #000;
  }

  .header.menuRes ul{
      opacity: 1;
      right: 0px;
      top: 40px;
      display: flex;
  }
  .header ul li a{
      margin: 5px 0;
      font-size: 24px;
      color: #fff;
  }
  .menu{
      display: block;
      position: relative;
      transition: 800ms step-end;
      cursor: pointer;
  }
  .menu div{
      width: 40px;
      height: 3px;
      background-color: #fff;
      margin-bottom: 4px;
      transition: 600ms;
  }
  .menu.menuRes .line1{
      transform: rotate(-30deg) translate(-4px, 5px);
      transition: 600ms;
  }
  .menu.menuRes .line2{
      opacity: 0;
  }
  .menu.menuRes .line3{
      transform: rotate(30deg) translate(-4px, -6px);
      transition: 600ms;
  }
}