
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #003b8e;
  padding: 20px;
  height: 5vh;
  width: 100%;
  z-index: 999;
  overflow: hidden;
}

.header ul{
  display: flex;
}
.header ul li{
  list-style: none;
  height: 100%;
}
.header ul li a {
  text-decoration: none;
  font-size: 16px;
  transition: 0.3 ease-in-out;
  padding: 30px 20px;
  color: #fff;
  height: 100%;

  font-weight: bold;
  font-size: 1em;
}

.header ul li p{
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  padding: 0 10px;
  cursor: pointer;
}
.header ul li a:hover{
  background-color: #011229;

}
.menu {
  display: none;
}

.header .logo a{
  color: #fff;
  font-weight: bold;
  font-size: 1.8em;
}

.active{
  background-color: #000;
  color: #fff;
}

@media (max-width:900px){
  .header ul{
      position: absolute;
      top: 40px;
      right: 100%;
      width: 100%;
      height: calc(100vh - 50px);
      padding: 40px 100px;
      text-align: center;
      overflow-y: hidden;
      justify-content: space-between;
      overflow: hidden;
      background-color: #003b8e;
      flex-direction: column;
      opacity: 0;
      transition: 800ms ease-in-out;
  }
  .logo{
      color: #000;
  }

  .header.menuRes ul{
      opacity: 1;
      right: 0px;
      top: 40px;
      display: flex;
  }
  .header ul li a{
      margin: 5px 0;
      font-size: 24px;
      color: #fff;
  }
  .menu{
      display: block;
      position: relative;
      transition: 800ms step-end;
      cursor: pointer;
  }
  .menu div{
      width: 40px;
      height: 3px;
      background-color: #fff;
      margin-bottom: 4px;
      transition: 600ms;
  }
  .menu.menuRes .line1{
      transform: rotate(-30deg) translate(-4px, 5px);
      transition: 600ms;
  }
  .menu.menuRes .line2{
      opacity: 0;
  }
  .menu.menuRes .line3{
      transform: rotate(30deg) translate(-4px, -6px);
      transition: 600ms;
  }
}